
<!DOCTYPE html>
<html lang="en" ng-app="OpenIDConnectDemoApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>OpenID Connect JavaScript Sample</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/pm-bootstrap.css" rel="stylesheet">
  </head>

  <body id="appBody" role="document" ng-controller="ApplicationController as appCtrl">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
              <img alt="Ping Identity" src="assets/img/PIC-240x240.png" width="30px"/>
            </a>
        </div>
          
        <div id="navbar-left" class="">
          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="#">OpenID Connect JavaScript Sample</a></li>
          </ul>
              
          <ul class="nav navbar-nav navbar-right">
            <li ng-if="!isLoggedOn" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" ng-click="signin()" data-toggle="modal" href="#myModal">Sign In</a></li>
                </ul>
            </li>
            <li ng-if="isLoggedOn" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" ng-click="signout()">Sign Out</a></li>
                    <li><a href="#" ng-click="signin()" data-toggle="modal" href="#myModal">Sign In</a></li>
                    <li><a href="#" ng-click="signinBackground()" data-toggle="modal" href="#myModal">Sign In (Background)</a></li>
                    <li><a href="#" ng-click="revokeAccessToken()">Revoke Token</a></li>
                    <li><a href="#" ng-click="refreshUserInfo()">Refresh UserInfo</a></li>
                    <li><a href="#" ng-click="refreshUI()">Refresh UI</a></li>
                </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
      
    <div class="container theme-showcase" role="main">

        <p>&nbsp;</p>
        
        <ping-notification-panel ng-show="hasNotification"></ping-notification-panel>

        <h1>Authorized User</h1>
        <p ng-bind="currentUser.sub"></p>
        <p>&nbsp;</p>
            
        <h1>Access Token</h1>
        <p ng-bind="currentUser.tokens.access_token"></p>
        <p>&nbsp;</p>
            
        <h1>Access Token Expires</h1>
        <p ng-bind="currentUser.tokens.expires_at | date:'dd MMM yyyy @ H:mm:ss Z'"></p>
        <p>&nbsp;</p>
            
        <h1>ID Token</h1>
        <p ng-bind-html="currentUser.tokens.id_token | formatJWT"></p>
        <p>&nbsp;</p>
            
        <h1>UserInfo Profile</h1>
        <p ng-bind-html="currentUser.profile | prettyprintjson"></p>
        <p>&nbsp;</p>

      </div> <!-- /container -->

    <relogin-dialog ng-show="reloginOccurring"></relogin-dialog>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/angular-cookies.min.js"></script>
    <script type="text/javascript" src="assets/js/angular-route.min.js"></script>
    <script type="text/javascript" src="assets/js/jsrsasign-latest-all-min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="login-service.js"></script>
  </body>
</html>
